$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #e2c059;
$info-color: #17a2b8;
$light-color: #e3ebf1;
$dark-color: #30363b;

$font-family-base: 'Roboto Slab', sans-serif;
$font-size-base: 62.5%;
$line-height-base: 1.5;

/* Färger för bakgrunder och texter */
$background-color: $dark-color;
$text-color: $light-color;